// 一些样式方法
@mixin rounded-corners($size) {
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
    border-radius: $size;
    -moz-appearance: none;
    -webkit-appearance : none;
}

@mixin display-flex {
    display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;   /* 混合版本语法: IE 10 */
}

@mixin flex-num($num) {
    -webkit-flex: $num;        /* Chrome */
    -ms-flex: $num;            /* IE 10 */
    flex: $num;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: $num;    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $num;       /* OLD - Firefox 19- */
}