.resultList-card {
  margin-bottom: 5px;
  background: #fff;
  display: flex;
  padding: 12px 10px;
  &:active {
    background: rgba(173, 235, 255, .7);
  }
  .resultList-card-icon {
    margin-right: 10px;
    width: 42px;
    height: 42px;
  }
  .resultList-card-info {
    flex: 1;
    .resultList-card-info-title,
    .resultList-card-info-issue {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 16px;
        color: #333;
      }
    }
    .resultList-card-info-title {
      margin-bottom: 10px;
    }
    .resultList-card-info-issue {
      margin-bottom: 15px;
    }
    span {
      font-size: 12px;
    }
  }
}

.resultList-card-list {
  background: #fff;
  margin-bottom: 5px;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &:active {
    background: rgba(173, 235, 255, .7);
  }
  .resultList-card-base {
    display: flex;
    width: 100%;
    .resultList-card-icon {
      margin-right: 10px;
      width: 42px;
      height: 42px;
    }
    .resultList-card-info {
      flex: 1;
      .resultList-card-info-title,
      .resultList-card-info-issue {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 16px;
          color: #333;
        }
      }
      .resultList-card-info-title {
        margin-bottom: 10px;
      }
      .resultList-card-info-issue {
        margin-bottom: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}


.block-bg-2 {
  background: #183658;
}
.block-bg-7 {
  background: #E43B26;
}
.block-bg-1 {
  background: #4399E3;
}
.block-bg-6 {
  background: #B4B4B4;
}
.block-bg-4 {
  background: #41CFCF;
}
.block-bg-0 {
  background: #F5D400;
}
.block-bg-3 {
  background: #FF841E;
}
.block-bg-9 {
  background: #7AB430;
}
.block-bg-5 {
  background: #8066E2;
}
.block-bg-8 {
  background: #530606;
}

.zodiac-md {
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-size: 14px;
  float: left;
  display: block;
}
.zodiac-sm {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  float: left;
  display: block;
}
.ball-md {
  @extend .zodiac-md;
  border-radius: 50%;
  color: #fff;
}
.ball-sm {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  float: left;
  font-size: 10px;
}
.dice-md {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  img {
    width: 23px;
    height: 23px;
  }
}
.dice-sm {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  img {
    width: 18px;
    height: 18px;
  }
}
.number-text-md {
  display: block;
  float: left;
  height: 23px;
  line-height: 23px;
}
.number-text-sm {
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
}
.block-md {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.block-sm {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.game-result,
.game-result-line {
  overflow: hidden;
}
.game-result {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  padding-left: 52px;
}
.dice-sum-md {
  line-height: 23px;
  margin-left: 10px;
  font-size: 12px;
}
.dice-sum-sm {
  line-height: 20px;
  margin-left: 10px;
  font-size: 12px;
}
.num-symbol-md {
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-size: 15px;
  float: left;
  display: block;
}
.num-symbol-sm {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  float: left;
  display: block;
}
.pk10-result {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
}
.luck-parser {
  margin-left: 5px;
}
.luck-parser span {
  margin: 0 5px;
}
.lhc-parser {
  line-height: 23px;
  margin-left: 10px;
}
.lhc-parser > span {
  margin-left: 10px;
}