/* 渐变色 */
$baseCol: #d81e06;
$baseLightCol: #e45441;
/*
    cp8红 #d81e06; cp1绿 #308F3C 95蓝 #5797E3 大众绿 #00831b
    主色调
*/
$baseRed: #d81e06;
$baseOrigin: #FF6500;
$baseActive: #f14a35;
$baseChinldrenActive: #f08e19;
$baseLightRed: #e45441;
$baseGray: #a1a1a1;
$baseDeepGray: #7a7a7a;
$baseBlack: #333333;
$baseGreen: #26ab5f;
$baseLightGreen: #1dbeb2;
$baseOrange: #ff8700;
$baseLightOrange: #ffca4f;
$baseBlue: #40a0e9;
$basePurple: purple;
$baseEEE: #eee;
$baseWhite: #fff;
$baseBg: #f5f4f9;
/*
    lottery layer
    投注弹出提交按钮颜色，cp8是特定颜色，其他都是主色调的
*/
$submitCol: #fdbe25;
$submitColActive: #FEBF25;
$lawHeadCol: #fdbe25;
$lawHeadColActive: #fdbe25;
/*
    nav bet
    投注底部按钮颜色，cp8是特定颜色，其他都是主色调的
*/
$betBgCol: #fdbe25;
$betCol: #222;
$betBgActive: #FDBE81;
